
[keyboard-control]

32     # number of keys

 0 "1"
 1 "q"
 2 "a"
 3 "z"
 4 "2"
 5 "w"
 6 "s"
 7 "x"
 8 "3"
 9 "e"
10 "d"
11 "c"
12 "4"
13 "r"
14 "f"
15 "v"
16 "5"
17 "t"
18 "g"
19 "b"
20 "6"
21 "y"
22 "h"
23 "n"
24 "7"
25 "u"
26 "j"
27 "m"
28 "8"
29 "i"
30 "k"
31 ","

[keyboard-group]

32     # number of group-learn keys (key groups)

 0 "!"
 1 "\""
 2 "#"
 3 "$"
 4 "%"
 5 "&"
 6 "?"
 7 "("
 8 "Q"
 9 "W"
10 "E"
11 "R"
12 "T"
13 "Y"
14 "U"
15 "I"
16 "A"
17 "S"
18 "D"
19 "F"
20 "G"
21 "H"
22 "J"
23 "K"
24 "Z"
25 "X"
26 "C"
27 "V"
28 "B"
29 "N"
30 "M"
31 ";"

 0 "'" "BPM Up"
 1 ";" "BPM Down"
 2 "[" "Set Up"
 3 "]" "Set Down"
 4 "Home" "Playset"
 5 "Tick" "Group On"
 6 "Del" "Group Off"
 7 "Ins" "Group Learn"
 8 "KPHome" "Replace"
 9 "o" "Queue"
10 "AltL" "Snapshot 1"
11 "AltR" "Snapshot 2"
12 "\\" "Keep Queue"
13 " " "Start"
14 "Escape" "Stop"
15 "." "Pause"
16 "=" "Pattern Edit"
17 "-" "Event Edit"
18 "/" "Hotkey Shift"

[extended-keys]

19 "F1" "Song/Live"
20 "F2" "JACK Mode"
21 "F3" "Menu Mode"
22 "F4" "JACK Transport"
23 "F5" "Rewind"
24 "F6" "Fast-Forward"
25 "F7" "Song Pointer"
26 "F9" "Tap BPM"
27 "F8" "Toggle All Mutes"
28 "F10" "Song Record"
29 "F11" "One-shot Queue

