# .gitignore for Seq66
#
# Chris Ahlstrom
# Updates: 2015-09-12 to 2021-12-12

~$*
.*
*~
*.a
\#
ABOUT-NLS
aclocal.m4
*.aps
am--include-marker
/autom4te.cache
autom4te.cache/
*.aux
aux-files
Backup*/
[Bb]in
*.bak
*.bbl
*.blg
blib/
bootstrap.stamp
_build/
.build/
Build
Build.bat
.builds
build-stamp configure-stamp
*.Cache
ClientBin
/compile
config
config.h
config.status
core
.coverage
cover_db/
*.dbmdl
[Dd]ebug/
debian/debhelper-build-stamp
debian/files
debian/*.log
debian/
.deps/
Desktop.ini
develop-eggs
.directory
dist
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/html
DocProject/Help/Html2
DocProject/Help/*.HxC
DocProject/Help/*.HxT
dox-stamp
doxygen_sqlite3.db
*.dvi
[Ee]xpress
*.egg
*.egg-info
eggs
*.fdb_latexmk
*.fls
*.gcda
*.gcno
*.gcov
Generated_Code # added for RIA/Silverlight projects
!.gitignore
*.glg
*.glo
*.gls
html/
i18n/
*_i.c
*.idb
*.idx
*.ilg
*.ilk
include/seq66-config.h
inc/
*.ind
.installed.cfg
ipch/
*.ist
*.la
*.lai
.last_cover_stats
.libs/
libtool
*.lo
*.lof
*.lot
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
*.maf
Makefile
Makefile.in
Makefile.in.in
Makefile.old
MANIFEST.bak
*.meta
META.yml
moc_*.cpp
*.mo
*.moc.cpp
.mr.developer.cfg
*.mtc
*.mtc0
MYMETA.yml
*.nav
*.ncb
*.nlo
nytprof.out
*.o
*.obj
[Oo]bj
*.opensdf
*.out
parts
*_p.c
*.pch
*.pdb
*.pdfsync
*.pgc
*.pgd
pip-log.txt
pm_to_blib
*.ps
*.psess
publish
*.py[co]
*.qrc.cpp
_ReSharper*
[Rr]elease/
*.rsp
safety/     # hmmm
save/
*.sbr
scratch/
*.sdf
sdist
Seq66cli/seq66cli
Seq66qt5/qseq66
Seq66rtmidi/seq66
Session.vim
*.sln.docstates
*.slo
*.snm
*.so
sql
stamp-h1
*.status
stylecop.*
*.suo
.svn/
.*.sw[a-z]
*.synctex.gz
*.t
tags
TAGS
TestResults
tex-stamp
Thumbs.db
*.tlb
*.tlh
*.tli
*.tmp
tmp/        # hmmm
*.toc
.tox
*.trs
ui_*.h
*.un~
UpgradeLog*.XML
_UpgradeReport_Files/
*.ui.h
*.user
var
vgcore
*.vrb
*.vsp
*.vspscc

# Ignore programmer's reference manuals

doc/dox/libseq66/latex/
doc/dox/libseq66/seq66_lib_libseq66.pdf
doc/dox/libsessions/latex/
doc/dox/libsessions/seq66_lib_libsessions.pdf
doc/dox/seq_portmidi/latex/
doc/dox/seq_portmidi/seq66_lib_seq_portmidi.pdf
doc/dox/seq_rtmidi/latex/
doc/dox/seq_rtmidi/seq66_lib_seq_rtmidi.pdf
