# .gitignore for Seq66
#
# Chris Ahlstrom
# Updates: 2015-09-12 to 2026-05-18

!.gitignore
*.a
*.aps
*.aux
*.bak
*.bbl
*.blg
*.dbmdl
*.dvi
*.o
*.obj
*.opensdf
*.out
*.ps
*.psess
*.py[co]
*.rsp
*.sbr
*.so
*.status
*.t
*.tmp
*.ui.h
*.user
*.xz
*.zip
*~
.*
.build/
.builds
.coverage
.deps/
.svn/
Backup*/
MANIFEST.bak
TAGS
TestResults
[Bb]in
[Dd]ebug/
[Ee]xpress
[Oo]bj
[Rr]elease/
\#
_build/
am--include-marker
build-stamp
config
config.h
config.status
configure-stamp
core
cover_db/
debian/
debian/*.log
debian/debhelper-build-stamp
debian/files
dox-stamp
include/seq66-config.h
moc_*.cpp
pip-log.txt
pm_to_blib
publish
safety/
save/
scratch/
sql
subprojects/liblib66/
subprojects/potext/
tags
tmp/
ui_*.h
var
vgcore
~$*
