[Desktop Entry]
Name=Seq66
Version=0.98
GenericName=Live Grid Sequencer
Comment=MIDI Loop Sequencer derived from seq24
Comment[fr]=Séquenceur de boucle MIDI dérivé de seq24
Exec=qseq66
Terminal=false
Type=Application
Icon=qseq66
Categories=AudioVideo;Audio;Sequencer;X-Alsa;X-Jack;Midi;X-MIDI;
X-NSM-capable=true
