[Desktop Entry]
Name=Seq66
Version=1.0
GenericName=Live Grid Sequencer
Comment=MIDI Loop Sequencer derived from seq24
Comment[fr]=Séquenceur de boucle MIDI dérivé de seq24
Icon=/usr/share/pixmaps/seq66.xpm
Type=Application
Categories=Qt;AudioVideo;Audio;Midi;Music;Sequencer;X-Alsa;X-Jack;X-MIDI;
Exec=qseq66
Terminal=false
X-NSM-Capable=true
X-NSM-Exec=qseq66
