#*****************************************************************************
# seq66/doc/dox/notes.cfg
#-----------------------------------------------------------------------------
##
# \file       	notes.cfg
# \library    	seq66
# \author     	Chris Ahlstrom)
# \date       	2015-09-10
# \update     	2019-05-11
# \version    	$Revision$
# \license    	$XPC_SUITE_GPL_LICENSE$
#
#     This "Doxyfile" provides the configuration needed to build the XPC
#     library suite documentation.  It describes the settings to be used by
#     the documentation system Doxygen (www.doxygen.org) for a project.
#
# \references
#     -  http://www.stack.nl/~dimitri/doxygen/config.html
#
#-----------------------------------------------------------------------------

#-----------------------------------------------------------------------------
# Project related configuration options
#-----------------------------------------------------------------------------
#
# The PROJECT_NAME tag is a single word (or a /short/ sequence of words
# surrounded by quotes) that should identify the project.  This name is used
# in the title of most generated pages and in a few other places.
#
#---------------------------------------------------------------------------

PROJECT_NAME            = "Seq66 Developer Notes for seq_rtmidi"

@INCLUDE_PATH           = ".."
@INCLUDE                = "doxy-common.cfg"

#---------------------------------------------------------------------------
# Configuration options related to the input files
#---------------------------------------------------------------------------
#
# The INPUT tag can be used to specify the files and/or directories that
# contain documented source files. You may enter file names like
# "myfile.cpp" or directories like "/usr/src/myproject". Separate the files
# or directories with spaces.
#
# The directory here specifies the relative path needed to get to the
# project directory, so that /all/ of the libraries and applications can
# be documented.  (However, note that we want only our special *.dox files
# to be included in the overarching front-matter XPC suite documentation.)
#
# There seems to be no difference in the ordering of pages when the
# following is used.  We'd really like to be able to control the page
# ordering.
#
#---------------------------------------------------------------------------

INPUT = mainpage.dox \
./seq_rtmidi/include/seq66_rtmidi_features.h \
./seq_rtmidi/include/midi_probe.hpp \
./seq_rtmidi/include/midi_jack.hpp \
./seq_rtmidi/include/rtmidi.hpp \
./seq_rtmidi/include/midibus_rm.hpp \
./seq_rtmidi/include/midi_jack_info.hpp \
./seq_rtmidi/include/midi_api.hpp \
./seq_rtmidi/include/rterror.hpp \
./seq_rtmidi/include/midi_alsa_info.hpp \
./seq_rtmidi/include/midi_info.hpp \
./seq_rtmidi/include/midi_jack_data.hpp \
./seq_rtmidi/include/rtmidi_info.hpp \
./seq_rtmidi/include/mastermidibus_rm.hpp \
./seq_rtmidi/include/midi_alsa.hpp \
./seq_rtmidi/include/rtmidi_types.hpp \
./seq_rtmidi/src/rtmidi_info.cpp \
./seq_rtmidi/src/rtmidi.cpp \
./seq_rtmidi/src/midi_jack_info.cpp \
./seq_rtmidi/src/midibus_impl.cpp \
./seq_rtmidi/src/midi_api.cpp \
./seq_rtmidi/src/midi_alsa.cpp \
./seq_rtmidi/src/midi_jack.cpp \
./seq_rtmidi/src/midibus.cpp \
./seq_rtmidi/src/rtmidi_types.cpp \
./seq_rtmidi/src/midi_alsa_info.cpp \
./seq_rtmidi/src/midi_probe.cpp \
./seq_rtmidi/src/mastermidibus.cpp \
./seq_rtmidi/src/midi_info.cpp

#*****************************************************************************
# seq66/doc/dox/notes.cfg
#-----------------------------------------------------------------------------
# vim: ts=3 sw=3 et ft=cfg
#-----------------------------------------------------------------------------
